<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CueCards</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <style>
    form {
      margin: 30px;
    }
  </style>
  <script>
    var i = 0;
    var dummy = "<div class='form-group'><label for= 'exampleFormControlTextarea1' > Antwort eingeben</label >" +
        "<textarea class='form-control' id='exampleFormControlTextarea1' rows='2'></textarea></div>"

    function fun() {
      i = i + 1;
      if (i < 4) {
        document.getElementById('wrapper').innerHTML += dummy;
      } else if (i = 5) {
        alert("Maximal 4 Antworten möglich!");
      }
    }

  </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light row justify-content-between">
  <nav class="col-auto">
    <a class="navbar-brand" href="/">
      <img src="App-Icon.png" width="40" height="40" class="d-inline-block align-top" alt="Logo"
           loading="lazy">
      CueCards
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/freitext">Freitextfrage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/multiplechoice">Multiple Choice Frage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vokabel">Vokabel</a>
        </li>
      </ul>
    </nav>
  </nav>
  <form class="col-auto" action="/logout" method="post">
    <button class="btn btn-outline-danger" type="submit">Logout</button>
  </form>
</nav>
<div class="card text-center">
  <div class="card-header">
    <h1>Multiple Choice</h1>
  </div>
  <div class="card-body" id="wrapper">
    <form id="Freitextfrage">
      <div class="form-group">
        <label for="exampleFormControlInput1">Ordner</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"
               placeholder="Ordnername eingeben...">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput2">Set</label>
        <input type="email" class="form-control" id="exampleFormControlInput2"
               placeholder="Setname eingeben...">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput3">Frage</label>
        <input type="email" class="form-control" id="exampleFormControlInput3"
               placeholder="Frage eingeben...">
      </div>
      <button class="btn btn-outline-success" onclick=fun()>Antwort hinzufügen</button>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Antwort eingeben</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </form>
  </div>
</div>
</body>
</html>