<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Räume</title>
</head>
<body>
<h1>CueCards Räume</h1>

<table>
  <tbody>
  <tr th:each="room: ${rooms}">
    <td th:text="${room.id}" th:attr="onclick='upload(' + ${room} + ')'"></td>
    <td th:text="${room.name}"></td>
    <td>
      <form method="POST" th:action="@{/room/show(room=${room})}">
        <button type="submit" name="submit" value="value" class="link-button">This is a link that sends a POST request
        </button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>